<?xml version="1.0"?>
 <robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
 <!-- MATERIALS -->
 <material name="black">
 <color rgba="0.0 0.0 0.0 1.0" />
 </material>
 
 <material name="dark_grey">
 <color rgba="0.2 0.2 0.2 1.0" />
 </material>
 
 <material name="light_grey">
 <color rgba="0.7 0.7 0.7 1.0" />
 </material>
 
 <material name="white">
 <color rgba="1.0 1.0 1.0 1.0" />
 </material>
 
 <material name="orange">
 <color rgba="1.0 0.4 0.0 1.0" />
 </material>

 <material name="blue">
 <color rgba="0.0 0.0 0.8 1.0"/>  
 </material>
 
 <!-- BASE FOOTPRINT -->
 <link name="base_footprint" />
 
 <joint name="base_footprint_joint" type="fixed">
 <parent link="base_footprint" />
 <child link="base_link" />
 <!-- base_link is wheel_radius above the ground -->
 <origin xyz="0.0 0.0 ${base_z_offset}" rpy="0.0 0.0 0.0" />
 </joint>
 
 <!-- BASE LINK-->
 <link name="base_link" />
 
 <!-- CHASSIS -->
 <joint name="chassis_joint" type="fixed">
 <parent link="base_link" />
 <child link="chassis" />
 <!-- chassis centre is at half its height above base_link -->
 <origin xyz="0.0 0.0 ${chassis_height/2}" rpy="0.0 0.0 0.0" />
 </joint>
 
 <link name="chassis">
 <visual>
 <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 <geometry>
 <box size="${chassis_length} ${chassis_width} ${chassis_height}" />
 </geometry>
 <material name="blue" />
 </visual>
 <collision>
 <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 <geometry>
 <box size="${chassis_length} ${chassis_width} ${chassis_height}" />
 </geometry>
 </collision>
 <xacro:box_inertia
 m="${chassis_mass}"
 l="${chassis_length}"
 w="${chassis_width}"
 h="${chassis_height}" />
 </link>
 
 <!-- CASTER WHEEL -->
 <joint name="caster_wheel_joint" type="fixed">
 <parent link="base_link" />
 <child link="caster_wheel" />
 <origin
 xyz="${caster_x} ${caster_y} ${caster_z}"
 rpy="0.0 0.0 0.0" />
 </joint>
 
 <link name="caster_wheel">
 <visual>
 <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 <geometry>
 <sphere radius="${caster_radius}" />
 </geometry>
 <material name="black" />
 </visual>
 <collision>
 <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
 <geometry>
 <sphere radius="${caster_radius}" />
 </geometry>
 </collision>
 <xacro:sphere_inertia
 m="${caster_mass}"
 r="${caster_radius}" />
 </link>
 
 <!-- Caster wheel contact properties for Gazebo
 mu = 0 means zero friction, allows free sliding in simulation -->
 <gazebo reference="caster_wheel">
 <mu1 value="0.01" />
 <mu2 value="0.01" />
 </gazebo>
 
 </robot>