<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr_robot">

  <xacro:include filename="$(find amr_robot)/urdf/properties.xacro"/>
  <xacro:include filename="$(find amr_robot)/urdf/base.xacro"/>
  <xacro:include filename="$(find amr_robot)/urdf/sensors.xacro"/>
  <xacro:include filename="$(find amr_robot)/urdf/wheels.xacro"/>
  <!-- <xacro:include filename="$(find amr_robot)/urdf/gazebo.xacro"/> -->

</robot>
